.env
.env.back
.env.*
*.envrc
venv/
.venv/
__pycache__/
*.pyc
db.sqlite3
migrations/*
migrations/
*.migrations/
staticfiles/

uv.lock/
.pytest_cache/
.tox/
.nox
.cache/uv/
.DS_STORE
Thumbs.db
*.bak
*.swp

.vscode/
.idea/
